<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="/css/registerStyle.css">
	</head>
	<section>
		<div class = "wave wave1"></div>
		<div class = "wave wave2"></div>
	</section>
	<body>
		<div class="register-form">	
			<form action="register" method="POST" class ="box">
                <h1>Register</h1>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Register" name="registerButton">
			</form>          
		</div>
	</body>
</html>