body
{
    margin : 0;
    padding : 0;
    font-family : sans-serif;
    background : #34495e;
}

.box
{
    width : 300px;
    padding : 40px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    background: #2c3e50 ;
    text-align: center;
    border-radius : 10px;
    box-shadow : 20px 20px 30px black;
}

.box input[type = "text"],.box input[type = "password"], .box input[type="email"]
{
    border : 0;
    background : none;
    display : block;
    margin : 20px auto;
    text-align : center;
    border : 2px solid #e74c3c;
    padding : 14px 10px;
    width : 200px;
    outline : none;
    color : white;
    border-radius: 20px;
    transition : 0.4s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
    width: 280px;
    border-color: #c0392b;
    font-weight: 500;
}

.box h1
{
    color : #e74c3c;
    text-transform: uppercase;
}

.box input[type = "submit"]
{
    border : 0;
    background : none;
    display : block;
    margin : 20px auto;
    text-align : center;
    border : 2px solid #e74c3c;
    padding : 14px 10px;
    width : 100px;
    outline : none;
    color : white;
    border-radius: 20px;
    transition : 0.4s;
}

.box input[type = "submit"]:hover
{
    background : #e74c3c;
}

.box input[type = "submit"]:active
{
    transition : 0.1s;
    background : #1abc9c;
    border : 2px solid #1abc9c;
}

section .wave
{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 100px;
    background : url(wave.png);
    background-size : 1500px 100px;
}

section .wave.wave1
{
    animation : animate 30s linear infinite;
    z-index : 1000;
    opacity : 1;
    animation-delay: 0s;
    bottom : 0;

}
section .wave.wave2
{
    animation : animate2 15s linear infinite;
    z-index : 999;
    opacity : 0.5;
    animation-delay: -5s;
    bottom : 10px;
}



@keyframes animate 
{
    0% 
    {
        background-position-x : 0;
    }
    100% 
    {
        background-position-x : 1000px;
    }
}

@keyframes animate2 
{
    0% 
    {
        background-position-x : 0;
    }
    100% 
    {
        background-position-x : -1000px;
    }
}