
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : Open Sans;
}
/* #3d0057 */
html
{
    font-size: 62.5%;
    overflow-y: scroll;
    height : 310%;
    background-color:rgb(39, 11, 68);
    background : linear-gradient(0deg,rgb(39, 11, 68),#34495e 55%);
    scroll-behavior: smooth;
}



#section1
{
    height: 100%;
}
.empty
{
    position: static;
    height: 1000px;
}


#section2
{
    height: 100%;
}




.container
{
    width: 100%;
    height: 100vh;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar
{
    width: 80%;
    height: 80%;
    background-color :white;
    box-shadow: 0.5rem;
    box-shadow : 20px 20px 30px black;
    border-radius : 10px;
    left : 50%;
}

.month
{
    width : 100%;
    height: 12rem;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem .5rem rgba(0,0,0,0.5);
    border-radius : 10px 10px 0 0;
}

.month i
{
    font-size:2.5rem;
    cursor: pointer;
}

.month h1
{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom:  1rem;
}

.month p
{
    font-size: 1.6rem;
}

.weekdays
{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div
{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width : calc(100%/7);
    display: flex;
    justify-content : center;
    align-items: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
}

.days
{
    width: 100%;
    height: calc(100% - 17rem);
    display: flex;
    flex-wrap: wrap;
    /* padding: 0.2rem; */
   
}

.days div
{
    font-size: 4rem;
    width: calc(100%/7 );
    height : calc(100%/6);
    display: flex;
    justify-content : center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    border-radius: 3px;
}

.prev-date,.next-date 
{
    opacity: 0.5;
}

.days div:active
{
    background-color:cornflowerblue;
    transition: 1s;
}

.days div:hover:not(.today)
{
    background-color: rgb(245, 245, 245);
    border:2px solid black;
    transition : 2s;
    
}

.today
{
    background-color:teal;
    box-shadow : 5px 5px 20px black;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    transition : opacity 2s ease-out;
  }

.box
{
    width : 30%;
    height : 60%;
    padding : 40px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    background: #2c3e50 ;
    text-align : center;
    border-radius : 10px;
    box-shadow : 20px 20px 30px black;
}

.box input[type=text],textarea
{
    border : 0;
    background : none;
    display : block;
    margin : 20px auto;
    text-align : center;
    border : 2px solid #7f8c8d;
    padding : 14px 10px;
    width : 50%;
    outline : none;
    color : white;
    border-radius: 20px;
    transition : 0.4s;
}

.box input[type = "text"]:focus,textarea:focus
{
    width: 70%;
    border-color: #3498db;
    font-weight: 500;
}

.box h1
{
    color : white;
    text-transform: uppercase;
    font-weight: 700;
    font-size : 30px;
}

.box input[type = "submit"]
{
    border : 0;
    background : none;
    margin : 20px auto;
    text-align : center;
    border : 2px solid #8e44ad;
    padding : 14px 10px;
    width : 100px;
    outline : none;
    color : white;
    border-radius: 20px;
    transition : 0.4s;
}
.box input[type = "submit"]:hover
{
    background : #1abc9c;
    border : 2px solid #1abc9c;
}

.box input[name="Cancel"]:hover
{
    background: #e74c3c;
    border : 2px solid #e74c3c;
}

.scrollDown
{
    
    top: 50px;
    left : calc(50% - 100px);
    border: 1px solid white;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: white;
    text-align : center;
    
    
}


 .scrollDown:before
 {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: teal;
    z-index: -1;
    top: 0;
    border-radius: 0 0 50% 50%;
    transition: 0.8s;
 } 


  .scrollDown:hover:before{
    height: 180%;
  }

  .card
  {
    margin : 15px;
    width: 250px;
    height: 350px;
    box-shadow : 20px 20px 30px black;
    border: double 4px transparent;
    border-radius: 15px;
    background-image: linear-gradient(0deg,#202d3a 1%,#34495e), radial-gradient(circle at top left, #743ad5,#d53a9d);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition : 1s;
    display : inline-block;
  }
  .card:hover
  {
      width: 300px;
      height:400px;
      transition : 1s;
  }

  .text-tName,.text-tDsc,.text-tDate
  {
      margin-top: 10% ;
      color:white;
      text-transform: uppercase;
      text-align: center;
      
  }

  .text-tName
  {
    height: 10%;
    font-weight: 1000;
    background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .text-tDsc
  {
    height : 80%;
    font-weight: 200;
    font-size : small;
    transition: 2s;
  }

  .text-tDate
  {
    height: 10%;
    font-weight: 800;
  }
